/* index.css */
:root {
  --primary-color: #4f46e5;
  --secondary-color: #64748b;
  --background-color: #f9fafb;
  --text-color: #111827;
  --border-radius: 12px;
  --spacing: 1rem;
}

html, body {
  margin: 0;
  padding: 0;
  background: var(--background-color);
  color: var(--text-color);
}


* {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
}
